<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.lhfei.fu.orm.mybatis.mapper.IComboboxMapper">
	
	
	<!-- 获取教师当前学年教授的全部班级 -->
	<select id="getClassByTeacher" parameterType="map" resultType="combobox">
		SELECT DISTINCT (hb.CLASS_NAME) as label 
				
		  FROM HOMEWORK_BASE hb
		
		 WHERE hb.ACADEMIC_YEAR = #{academicYear}
		   and hb.SEMESTER = #{semester}
		   
			<if test="teacherId != null  and teacherId != ''">
		   
				and hb.TEACHER_ID = #{teacherId}
				
		   	</if>
		   

		order by label asc
	</select>
	
		<!-- 获取教师当前学年教授的全部班级 -->
	<select id="getClassByAdmin" resultType="combobox">
		SELECT DISTINCT (hb.CLASS_NAME) as label 
				
		  FROM HOMEWORK_BASE hb

		ORDER BY label ASC
	</select>
	
	<select id="getAllTeacher" resultType="combobox">
	    SELECT tb.TEACHER_NAME as label,
	           tb.TEACHER_ID   as code,
	           tb.TEACHER_ID   as key
	    
	      FROM TEACHER_BASE tb
	    
	     GROUP BY tb.TEACHER_NAME, tb.TEACHER_ID
	
	</select>
	
	<update id="updateTeacherIdByName" parameterType = "map">

		UPDATE HOMEWORK_BASE hb
		
		   SET hb.teacher_id = #{teacherId}
		
		 WHERE hb.teacher_name = #{teacherName}

	</update>

</mapper>