<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.lhfei.fu.orm.mybatis.mapper.IStudentMapper">

	<select id="findStudentById" resultType="student" parameterType="string">
		SELECT 
			s.STUDENT_BASE_ID as id, 
			s.STUDENT_ID      as studentId, 
			s.NAME            as name, 
			s.GENDER          as gender, 
			s.CLASS_NAME      as className 
		FROM STUDENT_BASE s  
		WHERE s.STUDENT_ID = #{studentId}
	</select>
	
	<sql id="get_homework_column">
		hb.homework_base_id    as id,
		hb.hw_name             as name,
		hb.academic_year       as academicYear,
		hb.semester            as semester,
		ha.homework_archive_id as homeworkArahiveId,
		ha.student_base_id     as studentBaseId,
		ha.archive_name        AS archiveName,
		ha.archive_path        AS archivePath,
		ha.status              AS STATUS,
		hb.operation_time      as operationTime,
		hb.action_type         as actionType,
		hb.teacher_ID          as teacherId,
		hb.teacher_name        as teacherName,
		hb.MODIFY_TIME         as modifyTime,
		hb.CREATE_TIME         as createTime,
		hb.extend              as extend,
		hb.extend1             as extend1,
		hb.class_name          as className,
		hb.course_code         as courseCode,
		hb.course_name         as courseName,
		hb.major_code          as majorCode,
		hb.major_name          as majorName,
		hb.desc_info           as description
	</sql>

	<sql id="get_homework_where">
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="studentBaseId != null">
				ha.student_base_id = #{studentBaseId} OR ha.student_base_id IS NULL
			</if>
			
			<if test="academicYear != null and academicYear != '-1'">
				AND hb.academic_year = #{academicYear}
			</if>
			
			<if test="semester != null and semester != '-1'">
				AND hb.semester = #{semester}
			</if>	
					
			<if test="courseName != null and courseName != '-1'">
				AND hb.course_name = #{courseName}
			</if>			
			
			<if test="className != null and className != '-1'">
				AND hb.class_name = #{className}
			</if>
			<if test="name != null and name != ''">
				AND hb.hw_name like  #{name}
			</if>
		</trim>	
	</sql>

	<select id="getHomeworkByStudent" resultType="homeworkBaseModel" parameterType="homeworkBaseModel">
		
		SELECT * FROM 
		(
			SELECT ROWNUM row_num , A.* from 
			(
				SELECT <include refid="get_homework_column"/>
				
				FROM homework_base hb 
				
				  LEFT JOIN homework_archive ha 
					
					ON hb.homework_base_id = ha.homework_base_id
		
				<include refid="get_homework_where"/>
				
				ORDER BY hb.academic_year DESC, hb.semester DESC
			
			) A 
			
			WHERE ROWNUM &lt; #{end}
		)
		
		WHERE row_num &gt; #{pageNum}
	</select>
	
	<select id="countHomeworkByStudent" resultType="int" parameterType="homeworkBaseModel">
		SELECT COUNT(*)
		
		FROM homework_base hb 
		
		  LEFT JOIN homework_archive ha 
			
			ON hb.homework_base_id = ha.homework_base_id

		<include refid="get_homework_where"/>
	
	</select>

</mapper>